body {
  background-color: lightgreen;
}
h1 {
  text-shadow: 5px 2px darkorange;
}
ul {
  text-align: center;
  list-style-position: inside;
}
li {
  text-align: center;
  font-size: 18px;
}
span {
  color: purple;
  text-shadow: 2px 2px lightgray;
}
h3 {
  text-shadow: 3px 3px darkorange;
}
#explanation {
  padding: 10px;
  background-color: lightyellow;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}
#submit-button {
  margin-bottom: 15px;
  background-color: darkorange;


}
#left-menu {
  background-color: lightblue;
  padding-bottom: 10px;
}
#left-menu li {
  text-align: left;
  font-size: 14px;
}
.container {
  background-color: pink;
  margin-top: 20px;
}
.jumbotron {
  /*margin-top: 20px;*/
  background-color: lightpink;
  border-color: white;
  border-width: thick;
  border-style: dotted;
}
.well {
  background-color: lightyellow;
}
/*#ping {
  text-align: left;
  font-size: 20px;
  color: purple;
}
#pong {
  text-align: right;
  font-size: 20px;
  color: green;
}
#ping-pong {
  font-size: 24px;
  text-align: center;
  color: blue;
}*/
.ping {
  text-align: left;
  font-size: 20px;
  color: purple;
}
.pong {
  text-align: right;
  font-size: 20px;
  color: green;
}
.ping-pong {
  font-size: 24px;
  text-align: center;
  color: blue;
}
